<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <div class="glyphicon glyphicon-bell"></div>
      </a>
    </div>
  </div>
</nav>