<div class="row">
  <div class="col-lg-6">
    <div class="input-group" *ngFor="let activity of actividades">
      <span class="input-group-addon" [class.done]="activity.status == 1">
        <img [src]="activity.description" alt="">
        <input type="checkbox" [checked]="activity.status == 1" [id]="activity.id" (click)="updateState($event)">
      </span>
      <input type="text" class="form-control" [value]="activity.title">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->